.body {
  background-color: black;
}

.logo {
  margin-top: 100px;
  margin-left: 100px;
}

.Container {
  padding-top: 50px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 85%;
  color: white;
}

.Container h1 {
  color: white;
}

.ant-spin {
  margin-top: 150px !important;
  margin-left: 300px !important;
  position: absolute !important;
  width: 500px;
}

.card {
  width: 400px;
  height: 140px;
  background-color: #232323;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 34px;
  background: linear-gradient(145deg, #1e1e1e, #191919);
  box-shadow: 6px 6px 12px #111111, -6px -6px 12px #272727;
  display: flex;
}

.cardInfo {
  max-width: 220px;
  margin-left: 15px;
  padding-right: 20px;
  margin-top: -10px;
}

.card h1,
h2,
h3 {
  color: white !important;
  margin-top: -10px;
  line-height: 1.2;
}

.card h1 {
  margin-top: 10px;
  font-size: 25px;
  /* margin-bottom: 10px; */
  font-weight: 600;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white !important;
}

.card h2 {
  margin-top: -10px;
  font-weight: 400;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h3 {
  font-weight: 300;
  /* margin-top: -10px; */
  color: #bbb1b1;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userCard {
  width: 420px;
  height: 251.91px;
  background-color: #232323;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-position-y: -100px;
  background-size: cover;
}

.imageGrad {
  width: 420px;
}

.Spin {
  margin-left: -330px;
}

.switch {
  margin-left: -200px;
}

.userLabel {
  font-size: 50px !important;
}

.monthControls {
  width: 100%;
  margin-left: 80px;
  padding-bottom: 20px;
}

.ant-radio-button-wrapper-checked {
  border-color: #9c9a9a !important;
  background-color: #9c9a9a !important;
}

.ant-radio-button-wrapper span {
  font-weight: 700;
}

.ant-radio-button-wrapper:first-child {
  font-weight: 700;
  border-radius: 20px 0px 0px 20px !important;
}

.ant-radio-button-wrapper:last-child {
  font-weight: 700;
  border-radius: 0px 20px 20px 0px !important;
}

#Collage {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 472px !important;
  height: 581px !important;
}

@media only screen and (min-width: 768px) {
  .Container {
    margin-left: 30%;
    color: white;
  }

  .card {
    width: 500px;
    height: 160px;
  }

  .cardInfo {
    max-width: 250px;
    margin-left: 15px;
    padding-right: 20px;
    margin-top: 15px;
  }

  .userCard {
    width: 500px;
    height: 300px;
  }

  .imageGrad {
    height: 300px;
    width: 500px;
  }

  .logo {
    margin-left: 39%;
    margin-top: 5%;
  }

  .userLabel {
    font-size: 60px !important;
  }

  .monthControls {
    width: 100%;
    margin-left: 120px;
    padding-bottom: 20px;
  }

  .Spin {
    position: fixed;
    left: 13%;
  }
}
